.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #2d2d2d;
}

.questionCard{
  text-align: left;
}


.card-header{
  text-align: center;
  color: #2d2d2d;
}

.list-group-item{
  color: #2d2d2d;
}

.questionDetails{
  text-align: left;
}

.topQuestions{
  margin-top: 20vh;
}

.topicDetail, .questionDetails{
  margin-top: 5vh;
}

.questionDetails h1{
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 32px;
  line-height: 1.285;
}

.questionDetails p{
  margin-bottom: 1em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  letter-spacing: 0.6px;
  text-align: left;
  color: #2d2d2d;
  font: sans-serif;
}




.topQuestions h2{
  margin-bottom: 3vh;
}

.topQuestions i.fa{
  float: right;
}


.topQuestions .list-group-item{
  padding: 4vh;
  letter-spacing: 0.4px;
  line-height: 1.38;
  text-align: left;
  font-size: 0.9rem;
  text-decoration: none;
}

.topQuestions .list-group-item:hover{
  font-weight: bold;
}

.questionCard{
  margin: 3.5vh 0;
}

.questionCard .list-group-item{
  border-radius: 8px;
  background: #ffffff;
  box-shadow:  10px 10px 30px #d9d9d9, -0px -0px 0px #ffffff;
}

/* .questionCard .list-group-item:hover{
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 60px #d9d9d9, 
               -20px -20px 60px #ffffff;
} */

.topQuestions .list-group-item{
  border-radius: 8px;
background: #ffffff;
box-shadow:  10px 10px 30px #d9d9d9, -0px -0px 0px #ffffff;
}

/* .topQuestions .list-group-item:hover{
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  20px 20px 60px #d9d9d9, 
               -20px -20px 60px #ffffff;
} */